.header-content {
	background: #000000;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.header-title {
	text-align: left;
	font-size: 3rem; 
	padding: .5em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Share Tech','Montserrat', sans-serif;
}
.header-menu {	
	list-style: none;
	padding: 0.5em;	
}
.menu-list {
  	text-align: center;	
}
.menu-itens{
	display: inline; 
	padding: 2em;	
}
.menu-itens a {
	color: white;
	padding: 2px 10px;
	font-size: 1.6em;
	display: inline-block;	
	text-decoration: none;
}
.menu-itens a:hover {
	transition: transform 1000ms;
	transform: scale(1.2);
	font-weight: bold;	
	text-decoration: underline;
}
.footer-content {
	background: url("/assets/image/footer-background.jpg");;
}
.footer-logo {
	padding: 1em;
	width: 200px;
	display: block;
  	margin-right: auto;	
}
.footer-copyright {
	text-align: right;
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding: .5em;
}